<aside class="col-md-4">
  <section class="user_info">
    <h1>
      <%= gravatar_for user %>
      <%= user.name %></br>
      <%= link_to content_tag(:span," followers",:class=>'label label-default'),followers_user_path(user)  %></br>
      <%= link_to content_tag(:span,"followings",:class=>:'label label-default'),followings_user_path(user)  %>
    </h1>
  </section>
</aside>