
<ul class="follow">
 <% users.each do |user| %>
   <li class="text-left">
    <%= gravatar_for(user) %>
    <%= user.name %></br>
    Plofile:
    <%= link_to content_tag(:span,'Click!',:class=>'label label-info') ,user_path(user.id)  %>
   </li>
 <% end %>
</ul>